@import "tailwindcss";

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.changa {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

input{
  width: 100%;
}
